* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  background-color: black;
}

.cabecalho {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

#trybe {
  color: white;
}

#login {
  color: white;
  text-decoration: underline;
}

.textoSecao {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.imagens {
  justify-content: center;
  width: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.logo {
  background-color: snow;
  margin: 8px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

hr {
  display: flex;
  width: 200px;
  margin: auto;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}