* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  background-color: black;
}

.cabecalho {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

#trybe {
  color: white;
}

#login {
  color: white;
  text-decoration: underline;
}

.textoSecao {
  display: flex;
  justify-content: center;
}