
body{
    margin:0%;
    background-color: #4ABDAC;
    letter-spacing: 0.5px;

}

p{
    text-align: justify;
    line-height: 1.5;

}

h1, h3 {
    border-radius: 20px;
    padding: 10px;
    background-color: #F7B733;
    color: white;
    font-family: sans-serif;
    text-align: left;
}

#head1 {
    border-radius: 20px;
    display: inline-block;
    padding: 10px 150px;
    background-color: #F7B733;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.links {
    padding: 20px;
    background-color: #DFDCE3;
    text-align: center;
}

header ul {
    max-width: 60%;
    margin:auto;
    padding-inline-start: 0%;
}


header ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    list-style: none;
    font-size: 20px;
    padding: 10px;
    background-color: #F7B733;
    display: inline;
    flex-grow: 20;
    margin-inline: 90px;
}

header ul li a{
    text-decoration: none;
    color: white;
    max-width: 60%;
    text-align: center;
}


.art-1{
    width: 65%;
    margin-bottom: 80px;
}

.foto-inteira {
    float: left;
    margin: 0px 25px 25px 25px;
}

table, th, td {
    
    border-collapse: collapse;
    border:1px solid black;
  }

.art-2{
    width: 65%;
    margin-bottom: 80px;
}

.head3{
    text-align: left;
}
    
.olhos {
    float: left;
    margin: 0px 25px 15px 25px;

}

.art-4{
    width: 65%;
    margin-bottom: 80px;
}

.soco {
    float:left;
    margin: 0px 25px 15px 25px;

}


footer {
    padding: 15px;
    margin-top: 20px;
    background-color: #DFDCE3;
    text-align: center;
}

#fim {
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    color: black;
}