*{
  padding: 0%;
  margin: 10px;
}

body{
  text-align: center;
  background-color:aquamarine;
}

main{
  display: flex;
  border: black solid 1px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  
}

.header-trybe{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: snow;
  background-color: black;
  border: black 1px solid;
  margin-bottom: 25px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.header-trybe img{
  margin: 20px;
  height: 70px;
}

.form-section {
  text-align: left;
  margin: 25px;
  border: 1px solid black;
}

.hotel-form {
  display: flex;
}

.list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel-form, .list-section{
  margin: 25px;
  color: rgb(73, 73, 73);
  font-size: 25px;
}

button{
  width: 30%;
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
}

li{
  text-align: left;
  margin-bottom: 5px;
  padding:10px;
  font-size:25px;
  border: black 1px solid;
}

ol{
  display: inline-block;
  list-style-type: none;
  margin-top:15px;
  width: 90%;
}

textarea{
  box-sizing: content-box;
  padding: 10px;
}
